

/*les styles de la navigation avec les cercles*/
.aside {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    padding: 1rem;
    clip-path: polygon( 37.5% 1.086%,37.5% 1.086%,39.874% 0.808%,42.332% 0.592%,44.853% 0.438%,47.416% 0.345%,50% 0.314%,52.584% 0.345%,55.147% 0.438%,57.668% 0.592%,60.126% 0.808%,62.5% 1.086%,91.5% 4.914%,91.5% 4.914%,93.007% 5.137%,94.374% 5.391%,95.597% 5.673%,96.672% 5.982%,97.594% 6.314%,98.358% 6.667%,98.96% 7.037%,99.396% 7.423%,99.661% 7.821%,99.75% 8.229%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 12%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 89.143%,99.75% 92.171%,99.75% 92.171%,99.676% 92.495%,99.456% 92.813%,99.095% 93.122%,98.598% 93.421%,97.969% 93.707%,97.212% 93.978%,96.332% 94.23%,95.334% 94.463%,94.222% 94.672%,93% 94.857%,62.5% 98.914%,62.5% 98.914%,60.126% 99.192%,57.668% 99.408%,55.147% 99.562%,52.584% 99.655%,50% 99.686%,47.416% 99.655%,44.853% 99.562%,42.332% 99.408%,39.874% 99.192%,37.5% 98.914%,7% 94.857%,7% 94.857%,5.778% 94.674%,4.666% 94.468%,3.668% 94.241%,2.788% 93.994%,2.031% 93.729%,1.402% 93.446%,0.905% 93.148%,0.544% 92.835%,0.324% 92.509%,0.25% 92.171%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 89.143%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 12%,0.25% 8.229%,0.25% 8.229%,0.346% 7.821%,0.628% 7.423%,1.087% 7.037%,1.714% 6.667%,2.5% 6.314%,3.436% 5.982%,4.513% 5.673%,5.722% 5.391%,7.054% 5.137%,8.5% 4.914%,37.5% 1.086% );

    }
  
  .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
  }

  .indicator {
    cursor: pointer;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #000000;
  }

  .active {
    transform: scale(1.2);
    background-color: #C63AF8;

    transition: transform 200ms ease-in-out;
  }


.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px; /* Ajusta el tamaño del SVG */
  height: 28px;
  background-image: url('/images/markSection.svg'); 

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-10.9px, -10.5px); /* Ajusta la posición */
}