.particlesContainer {
  position: absolute;
  width: 100%;
  height: 100%; /* Ajusta el tamaño del contenedor según lo necesites */
  left: 0px;
  top: 0px;
  pointer-events: none;
}

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
}
