  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
    object-position: center;
    -webkit-transform: translateZ(0);

  }

.image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;

}


  .videoGradient{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0,0,0,.3), rgba(0,0,0,0) 50%),
                linear-gradient(90deg, rgba(0,0,0,.8), rgba(0,0,0,0) 50%),
                linear-gradient(-180deg, rgba(0,0,0,.1), rgba(0,0,0,0) 80%);
    z-index: -1;
  }

  @media (min-width: 769px) {
    .video {
      object-position: center;
    }
  }
  
