.header {
  width: 100%;
  height: 600px;
  justify-content: center;
  align-content: center;
  background-color: #9322F8;
}

.titleCarrer1 {
  font-size: clamp(3.125rem, 3.75vw, 3.75rem);
}

.titleCarrer2 {
  font-family: 'nerisBlack';
  font-size: clamp(3.25rem, 5vw, 5rem);
  line-height: 1.25;
  letter-spacing: 4px;
  text-transform: uppercase;

}

.wrapTitle {
  display: block;
  background-color: #000000;
  padding: 0.5rem 2rem;
  clip-path: polygon(1.124% 100%, 92.752% 100%, 92.752% 100%, 93.111% 99.939%, 93.464% 99.759%, 93.812% 99.463%, 94.152% 99.052%, 94.483% 98.53%, 94.803% 97.9%, 95.112% 97.164%, 95.406% 96.325%, 95.685% 95.386%, 95.947% 94.349%, 98.701% 82.554%, 98.701% 82.554%, 98.939% 81.447%, 99.155% 80.273%, 99.348% 79.035%, 99.518% 77.742%, 99.663% 76.399%, 99.782% 75.013%, 99.877% 73.589%, 99.945% 72.134%, 99.986% 70.655%, 100% 69.157%, 100% 38.095%, 100% 38.095%, 100% 38.018%, 99.999% 37.941%, 99.999% 37.864%, 99.998% 37.788%, 99.996% 37.712%, 99.995% 37.636%, 99.993% 37.561%, 99.991% 37.486%, 99.989% 37.411%, 99.986% 37.337%, 99.986% 37.337%, 99.989% 37.186%, 99.991% 37.035%, 99.993% 36.884%, 99.995% 36.733%, 99.997% 36.582%, 99.998% 36.431%, 99.999% 36.279%, 99.999% 36.128%, 100% 35.976%, 100% 35.824%, 100% 4.762%, 100% 4.762%, 99.985% 3.989%, 99.943% 3.257%, 99.875% 2.574%, 99.783% 1.95%, 99.671% 1.395%, 99.54% 0.919%, 99.393% 0.532%, 99.232% 0.243%, 99.059% 0.062%, 98.876% 0%, 7.028% 0%, 7.028% 0%, 6.67% 0.061%, 6.316% 0.241%, 5.969% 0.537%, 5.628% 0.948%, 5.297% 1.47%, 4.977% 2.1%, 4.669% 2.836%, 4.375% 3.675%, 4.096% 4.614%, 3.834% 5.651%, 1.299% 16.507%, 1.299% 16.507%, 1.061% 17.613%, 0.845% 18.788%, 0.652% 20.025%, 0.482% 21.318%, 0.338% 22.661%, 0.218% 24.048%, 0.123% 25.471%, 0.055% 26.926%, 0.014% 28.405%, 0% 29.903%, 0% 61.905%, 0% 61.905%, 0% 61.95%, 0% 61.995%, 0% 62.04%, 0.001% 62.084%, 0.001% 62.129%, 0.002% 62.173%, 0.002% 62.218%, 0.003% 62.262%, 0.004% 62.306%, 0.005% 62.35%, 0.005% 62.35%, 0.004% 62.439%, 0.003% 62.527%, 0.002% 62.616%, 0.002% 62.704%, 0.001% 62.793%, 0.001% 62.882%, 0% 62.97%, 0% 63.059%, 0% 63.148%, 0% 63.236%, 0% 95.238%, 0% 95.238%, 0.015% 96.011%, 0.057% 96.743%, 0.125% 97.426%, 0.217% 98.05%, 0.329% 98.605%, 0.46% 99.081%, 0.607% 99.468%, 0.768% 99.757%, 0.941% 99.938%, 1.124% 100%);
}

.shadowWrapTitle {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  clip-path: polygon(1.124% 100%, 92.752% 100%, 92.752% 100%, 93.111% 99.939%, 93.464% 99.759%, 93.812% 99.463%, 94.152% 99.052%, 94.483% 98.53%, 94.803% 97.9%, 95.112% 97.164%, 95.406% 96.325%, 95.685% 95.386%, 95.947% 94.349%, 98.701% 82.554%, 98.701% 82.554%, 98.939% 81.447%, 99.155% 80.273%, 99.348% 79.035%, 99.518% 77.742%, 99.663% 76.399%, 99.782% 75.013%, 99.877% 73.589%, 99.945% 72.134%, 99.986% 70.655%, 100% 69.157%, 100% 38.095%, 100% 38.095%, 100% 38.018%, 99.999% 37.941%, 99.999% 37.864%, 99.998% 37.788%, 99.996% 37.712%, 99.995% 37.636%, 99.993% 37.561%, 99.991% 37.486%, 99.989% 37.411%, 99.986% 37.337%, 99.986% 37.337%, 99.989% 37.186%, 99.991% 37.035%, 99.993% 36.884%, 99.995% 36.733%, 99.997% 36.582%, 99.998% 36.431%, 99.999% 36.279%, 99.999% 36.128%, 100% 35.976%, 100% 35.824%, 100% 4.762%, 100% 4.762%, 99.985% 3.989%, 99.943% 3.257%, 99.875% 2.574%, 99.783% 1.95%, 99.671% 1.395%, 99.54% 0.919%, 99.393% 0.532%, 99.232% 0.243%, 99.059% 0.062%, 98.876% 0%, 7.028% 0%, 7.028% 0%, 6.67% 0.061%, 6.316% 0.241%, 5.969% 0.537%, 5.628% 0.948%, 5.297% 1.47%, 4.977% 2.1%, 4.669% 2.836%, 4.375% 3.675%, 4.096% 4.614%, 3.834% 5.651%, 1.299% 16.507%, 1.299% 16.507%, 1.061% 17.613%, 0.845% 18.788%, 0.652% 20.025%, 0.482% 21.318%, 0.338% 22.661%, 0.218% 24.048%, 0.123% 25.471%, 0.055% 26.926%, 0.014% 28.405%, 0% 29.903%, 0% 61.905%, 0% 61.905%, 0% 61.95%, 0% 61.995%, 0% 62.04%, 0.001% 62.084%, 0.001% 62.129%, 0.002% 62.173%, 0.002% 62.218%, 0.003% 62.262%, 0.004% 62.306%, 0.005% 62.35%, 0.005% 62.35%, 0.004% 62.439%, 0.003% 62.527%, 0.002% 62.616%, 0.002% 62.704%, 0.001% 62.793%, 0.001% 62.882%, 0% 62.97%, 0% 63.059%, 0% 63.148%, 0% 63.236%, 0% 95.238%, 0% 95.238%, 0.015% 96.011%, 0.057% 96.743%, 0.125% 97.426%, 0.217% 98.05%, 0.329% 98.605%, 0.46% 99.081%, 0.607% 99.468%, 0.768% 99.757%, 0.941% 99.938%, 1.124% 100%);
  transform: translate(2px, 12px);
}

.bgText {
  position: absolute;
  left: 3px;
  top: 10px;
  width: auto;
  height: 100%;
}

.textHeader {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.mask {
  position: relative;
  width: 100%;
  height: auto;
  /*  clip-path: polygon(34.56% 2.949%, 34.56% 2.949%, 35.632% 2.154%, 36.772% 1.481%, 37.97% 0.931%, 39.213% 0.508%, 40.492% 0.211%, 41.796% 0.045%, 43.114% 0.01%, 44.435% 0.108%, 45.748% 0.342%, 47.042% 0.713%, 84.343% 13.531%, 84.343% 13.531%, 85.59% 14.033%, 86.762% 14.652%, 87.851% 15.382%, 88.852% 16.213%, 89.756% 17.137%, 90.557% 18.147%, 91.248% 19.235%, 91.82% 20.392%, 92.268% 21.611%, 92.583% 22.882%, 99.784% 60.581%, 99.784% 60.581%, 99.958% 61.879%, 99.989% 63.171%, 99.882% 64.45%, 99.639% 65.705%, 99.264% 66.926%, 98.761% 68.103%, 98.134% 69.225%, 97.386% 70.284%, 96.52% 71.269%, 95.541% 72.169%, 65.44% 97.051%, 65.44% 97.051%, 64.368% 97.846%, 63.228% 98.519%, 62.03% 99.069%, 60.787% 99.492%, 59.508% 99.789%, 58.204% 99.955%, 56.886% 99.99%, 55.565% 99.892%, 54.252% 99.658%, 52.958% 99.287%, 15.657% 86.469%, 15.657% 86.469%, 14.41% 85.967%, 13.238% 85.348%, 12.149% 84.618%, 11.148% 83.787%, 10.244% 82.863%, 9.443% 81.853%, 8.752% 80.765%, 8.18% 79.608%, 7.732% 78.389%, 7.417% 77.118%, 0.216% 39.419%, 0.216% 39.419%, 0.042% 38.121%, 0.011% 36.829%, 0.118% 35.55%, 0.361% 34.295%, 0.736% 33.074%, 1.239% 31.897%, 1.866% 30.775%, 2.614% 29.716%, 3.48% 28.731%, 4.459% 27.831%, 34.56% 2.949%);*/
}

.image {
  opacity: 1;
  left: 70%;
}

.navOpening {
  bottom: 20%;
  z-index: 1;
  left: 35%;
}

.navOpeningMobile {
  position: relative;
  display: none;
}

.path {

  background-color: #FFF;
  position: relative;
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0.09rem;
  clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
}

.pathBorder {
  display: flex;
  background-color: #000000;
  clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  padding-top: 8px;
}

.wrapStroke {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0.09rem;
  pointer-events: none;
  background-color: #FFF;
  clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
}

.wrapStrokeHover {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #FFF;
  clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
}

.titleFilter {
  color: #FFF;
  font-family: 'nerisSemiBold';
  font-size: 16px;
  font-weight: 600;
  line-height: 5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: block;
  text-align: center;
  width: 170px;
}

@media (max-width: 2240px) {
  .image {
    left: 50%;
  }
  .navOpening {
    
    left: 30%;
  }
}


@media (max-width: 1920px) {

  .image {
    left: 27%;
  }
  .navOpening {
    
    left: 30%;
  }
}

@media (max-width: 1500px) {

  .navOpening {
    left: 20%;
    bottom: 15%;
    width: 40%;
    height: auto;
    /* left: 30%; */
    transform: scale(0.7) translateY(0%);
    position: absolute;
  }

  .image {
    left: 27%;
  }

  .wrapTitle {
    padding: 0.5rem 2rem;
  }

  .shadowWrapTitle {
    transform: translate(0px, 10px);
  }

  .titleCarrer2 {

    letter-spacing: 1px;
  }

  .image {
    width: 85%;
    height: auto;
    left: 30%;
    transform: scale(1.5) translateY(-40%);
    position: absolute;
  }

 
}

@media (max-width: 1280px) {

  .navOpening {
    left: 20%;
    bottom: 15%;
    width: 50%;
  }

  .titleCarrer2 {
    font-size: clamp(2.8rem, 3.75vw, 3.75rem);
    letter-spacing: 1px;
  }

  .shadowWrapTitle {
    transform: translate(-20px, 10px);
  }

}

@media (max-width: 1020px) {


  .image {
    width: 100%;
    left: 48%;
    transform: scale(1.7) translateY(-36%);
  }

  .titleCarrer2 {
    font-size: clamp(2.5rem, 3.75vw, 3.75rem);
  }

  .titleCarrer2 {
    font-size: clamp(2.5rem, 3.75vw, 3.75rem);
    letter-spacing: 1px;
  }
  .shadowWrapTitle {
    transform: translate(0px, 10px);
  }
  
  .navOpening {
    transform: scale(0.6) translateY(0%);
  }
}



@media (max-width: 900px) {
  .descriptionCareer {
    padding-right: 1.2rem;
  }
  .header {
    width: 100%;
    min-height: 550px;
    justify-content: center;
    align-content: center;
    background-color: #9322F8;
  }

  .clipped {
    clip-path: polygon(98.867% 0%, 98.867% 0%, 99.054% 0.008%, 99.23% 0.032%, 99.393% 0.07%, 99.542% 0.121%, 99.673% 0.184%, 99.785% 0.256%, 99.876% 0.337%, 99.944% 0.425%, 99.986% 0.518%, 100% 0.616%, 100% 94.645%, 100% 94.645%, 99.982% 94.89%, 99.928% 95.132%, 99.839% 95.371%, 99.716% 95.604%, 99.56% 95.831%, 99.372% 96.052%, 99.153% 96.264%, 98.903% 96.466%, 98.623% 96.659%, 98.314% 96.84%, 94.217% 99.068%, 94.217% 99.068%, 93.883% 99.236%, 93.529% 99.388%, 93.156% 99.524%, 92.766% 99.643%, 92.361% 99.745%, 91.942% 99.83%, 91.513% 99.897%, 91.074% 99.945%, 90.629% 99.974%, 90.177% 99.984%, 1.133% 99.984%, 1.133% 99.984%, 0.946% 99.976%, 0.77% 99.952%, 0.607% 99.914%, 0.458% 99.863%, 0.327% 99.801%, 0.215% 99.728%, 0.124% 99.647%, 0.056% 99.56%, 0.014% 99.466%, 0% 99.368%, 0% 5.355%, 0% 5.355%, 0.018% 5.11%, 0.072% 4.868%, 0.161% 4.629%, 0.284% 4.396%, 0.44% 4.169%, 0.628% 3.948%, 0.847% 3.736%, 1.097% 3.534%, 1.377% 3.341%, 1.686% 3.16%, 5.783% 0.916%, 5.783% 0.916%, 6.117% 0.749%, 6.471% 0.597%, 6.845% 0.461%, 7.236% 0.341%, 7.643% 0.239%, 8.064% 0.154%, 8.497% 0.087%, 8.94% 0.039%, 9.393% 0.01%, 9.852% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%, 98.867% 0%);
  }

  .image {
    width: 87%;
    height: auto;
    left: 50%;
    transform: scale(2) translateY(-33%);
    opacity: 1;
  }

  .titleCarrer1 {
    font-size: clamp(2.4rem, 3vw, 3rem);
  }

  .titleCarrer2 {
    font-size: clamp(2.4rem, 3vw, 3rem);
    letter-spacing: 1px;
  }

  .shadowWrapTitle {
    transform: translate(0px, 10px);
  }
  .navOpening {
    bottom: 5%;
    width: 60%;
    height: auto;
    left: 5%;
    transform: scale(0.5) translateY(-33%);
    opacity: 1;
  }

}

@media (max-width: 760px) {

  .descriptionCareer {
    padding-right: 1.2rem;
  }

  .navOpening {
    display: none;
  }

  .navOpeningMobile {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    left: 20%;
    top: 30%;
  }

  .image {
    width: 100%;
    height: auto;
    left: 50%;
    transform: scale(2) translateY(-45%);
    opacity: 0.35;
  }

  .wrapTitle {
    padding: 0rem 1rem;
    margin: 0;
  }

  .shadowWrapTitle {
    transform: translate(5px, 12px);
  }

  .titleCarrer1 {
    font-size: clamp(3rem, 3vw, 3.5rem);
  }

  .titleCarrer2 {
    font-family: 'nerisBlack';
    font-size: clamp(2.3rem, 4vw, 4rem);
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

}

@media (max-width: 550px) {

  .navOpening {
    display: none;
  }

  .navOpeningMobile {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    left: 20%;
    top: 30%;
  }

  .image {
    width: 100%;
    height: auto;
    left: 50%;
    transform: scale(2) translateY(-45%);
    opacity: 0.35;
  }

  .wrapTitle {
    padding: 0.5rem 1rem;
    margin: auto;
  }

  .shadowWrapTitle {
    transform: translate(5px, 12px);
  }

  .titleCarrer1 {
    font-size: clamp(3rem, 3vw, 3.5rem);
  }

  .titleCarrer2 {
    font-family: 'nerisBlack';
    font-size: clamp(3rem, 3vw, 3.5rem);
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

}

@media (max-width: 420px) {
  .shadowWrapTitle {
    transform: translate(30px, 12px);
  }

  .shadowWrapTitle {
    width: 90%;

  }

  .image {
    width: 100%;
    height: auto;
    left: 50%;
    transform: scale(2) translateY(-45%);
    opacity: 0.35;
  }

  .wrapTitle {
    padding: 0.5rem 1rem;
  }

  .wrapTitle {
    margin: auto;
  }

  .titleCarrer1 {
    font-size: clamp(2.5rem, 3vw, 4rem);
  }

  .titleCarrer2 {
    font-family: 'nerisBlack';
    font-size: clamp(2.5rem, 3vw, 4rem);
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

}

@media (max-width: 360px) {
  .shadowWrapTitle {
    transform: translate(5px, 12px);
  }

  .shadowWrapTitle {
    width: 100%;

  }

  .image {
    width: 100%;
    height: auto;
    left: 50%;
    transform: scale(2) translateY(-45%);
    opacity: 0.35;
  }

  .wrapTitle {
    padding: 0.5rem 1.5rem;
    margin: 0;
  }

  .titleCarrer1 {
    font-size: clamp(2.3rem, 3vw, 4rem);
  }

  .titleCarrer2 {
    font-family: 'nerisBlack';
    font-size: clamp(2.3rem, 3vw, 4rem);
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
}