
.accordion {
    clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
}


.accordionExpand {
    clip-path:polygon(99.283% 0,6.23% 0,6.23% 0,5.945% .018%,5.663% .071%,5.386% .158%,5.114% .279%,4.85% .432%,4.594% .617%,4.347% .833%,4.111% 1.079%,3.887% 1.354%,3.676% 1.657%,1.066% 5.686%,1.066% 5.686%,.871% 6.014%,.694% 6.362%,.536% 6.73%,.397% 7.114%,.278% 7.514%,.179% 7.928%,.102% 8.354%,.046% 8.79%,.011% 9.234%,0 9.686%,0 29.686%,0 78.886%,0 98.886%,0 98.886%,.01% 99.07%,.037% 99.243%,.082% 99.404%,.141% 99.549%,.214% 99.679%,.298% 99.789%,.392% 99.878%,.494% 99.944%,.603% 99.986%,.717% 100%,93.77% 100%,93.77% 100%,94.055% 99.982%,94.337% 99.929%,94.614% 99.842%,94.886% 99.721%,95.15% 99.568%,95.406% 99.383%,95.653% 99.167%,95.889% 98.921%,96.113% 98.646%,96.324% 98.343%,98.916% 94.314%,98.916% 94.314%,99.111% 93.986%,99.288% 93.638%,99.446% 93.271%,99.585% 92.888%,99.704% 92.489%,99.802% 92.078%,99.88% 91.656%,99.936% 91.225%,99.97% 90.787%,99.982% 90.343%,99.982% 70.343%,99.982% 21.114%,99.982% 1.114%,99.982% 1.114%,99.977% .937%,99.953% .768%,99.912% .609%,99.855% .463%,99.784% .332%,99.701% .219%,99.608% .127%,99.506% .058%,99.397% .015%,99.283% 0);
}

.accordionShadow{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border: 1px solid #fff;
    background-color: #fff;
    transform: translate(8px, 8px);
    clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
}

.accordionShadowBorder{
    width: 99.9%;
    height: 100%;
    border: 1px solid #FFF;
    clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
    background-color: #000;
}

.accordionShadowExpand{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: translate(8px, 8px);
    border: 1px solid #FFF;
    clip-path:polygon(99.283% 0,6.23% 0,6.23% 0,5.945% .018%,5.663% .071%,5.386% .158%,5.114% .279%,4.85% .432%,4.594% .617%,4.347% .833%,4.111% 1.079%,3.887% 1.354%,3.676% 1.657%,1.066% 5.686%,1.066% 5.686%,.871% 6.014%,.694% 6.362%,.536% 6.73%,.397% 7.114%,.278% 7.514%,.179% 7.928%,.102% 8.354%,.046% 8.79%,.011% 9.234%,0 9.686%,0 29.686%,0 78.886%,0 98.886%,0 98.886%,.01% 99.07%,.037% 99.243%,.082% 99.404%,.141% 99.549%,.214% 99.679%,.298% 99.789%,.392% 99.878%,.494% 99.944%,.603% 99.986%,.717% 100%,93.77% 100%,93.77% 100%,94.055% 99.982%,94.337% 99.929%,94.614% 99.842%,94.886% 99.721%,95.15% 99.568%,95.406% 99.383%,95.653% 99.167%,95.889% 98.921%,96.113% 98.646%,96.324% 98.343%,98.916% 94.314%,98.916% 94.314%,99.111% 93.986%,99.288% 93.638%,99.446% 93.271%,99.585% 92.888%,99.704% 92.489%,99.802% 92.078%,99.88% 91.656%,99.936% 91.225%,99.97% 90.787%,99.982% 90.343%,99.982% 70.343%,99.982% 21.114%,99.982% 1.114%,99.982% 1.114%,99.977% .937%,99.953% .768%,99.912% .609%,99.855% .463%,99.784% .332%,99.701% .219%,99.608% .127%,99.506% .058%,99.397% .015%,99.283% 0);
}

.accordionShadowBorderExpand{
    width: 100%;
    height: 100%;
    clip-path:polygon(99.283% 0,6.23% 0,6.23% 0,5.945% .018%,5.663% .071%,5.386% .158%,5.114% .279%,4.85% .432%,4.594% .617%,4.347% .833%,4.111% 1.079%,3.887% 1.354%,3.676% 1.657%,1.066% 5.686%,1.066% 5.686%,.871% 6.014%,.694% 6.362%,.536% 6.73%,.397% 7.114%,.278% 7.514%,.179% 7.928%,.102% 8.354%,.046% 8.79%,.011% 9.234%,0 9.686%,0 29.686%,0 78.886%,0 98.886%,0 98.886%,.01% 99.07%,.037% 99.243%,.082% 99.404%,.141% 99.549%,.214% 99.679%,.298% 99.789%,.392% 99.878%,.494% 99.944%,.603% 99.986%,.717% 100%,93.77% 100%,93.77% 100%,94.055% 99.982%,94.337% 99.929%,94.614% 99.842%,94.886% 99.721%,95.15% 99.568%,95.406% 99.383%,95.653% 99.167%,95.889% 98.921%,96.113% 98.646%,96.324% 98.343%,98.916% 94.314%,98.916% 94.314%,99.111% 93.986%,99.288% 93.638%,99.446% 93.271%,99.585% 92.888%,99.704% 92.489%,99.802% 92.078%,99.88% 91.656%,99.936% 91.225%,99.97% 90.787%,99.982% 90.343%,99.982% 70.343%,99.982% 21.114%,99.982% 1.114%,99.982% 1.114%,99.977% .937%,99.953% .768%,99.912% .609%,99.855% .463%,99.784% .332%,99.701% .219%,99.608% .127%,99.506% .058%,99.397% .015%,99.283% 0);
}


.shadow{
    filter: drop-shadow(0px 0px 4px rgb(0, 0, 0, 0.3));
}

.scrollDown {
    /*transform: translateY(-100px);
    opacity: 0 !important;*/
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.accordionFiltersHeader {
    font-size: clamp(1.525rem, 1.775vw, 1.775rem);
    font-family: 'nerisBlack';
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 0rem 0rem 0rem 0rem;
    display: block;
}

.accordionFiltersInnerContent {
    font-size: clamp(1rem, 1vw, 1rem);
    font-family: 'nerisLight';

}

.row1 {
    background-color: #F1F1F1;
    border-bottom: 1px solid #000;
}

.row2 {
    background-color: #490CAB0D;
    border-bottom: 1px solid #000;
}


.accordionFiltersSelect {
    font-size: clamp(1.525rem, 1.775vw, 1.775rem);
    font-family: 'nerisBlack';
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


.accordionFiltersCant {
    background: #9322F8;
    width: 28px;
    height: 26px;
    border-radius: 6.5px;
    text-align: center;
}
.accordionFiltersSpan {
   
    font-family: 'nerisLight';
    font-size: 14px;
    font-weight: 600;
    line-height: 10.76px;
    color: #fff;
}


