
.path{
  clip-path: polygon( 100% 0.95%,100% 0.95%,99.991% 0.796%,99.963% 0.65%,99.92% 0.513%,99.862% 0.389%,99.79% 0.278%,99.707% 0.183%,99.613% 0.106%,99.51% 0.048%,99.399% 0.012%,99.283% 0%,6.226% 0%,6.226% 0%,5.939% 0.015%,5.655% 0.059%,5.376% 0.132%,5.103% 0.234%,4.837% 0.363%,4.58% 0.518%,4.332% 0.701%,4.096% 0.909%,3.871% 1.142%,3.66% 1.4%,1.057% 4.85%,1.057% 4.85%,0.862% 5.129%,0.686% 5.424%,0.529% 5.735%,0.391% 6.06%,0.274% 6.397%,0.176% 6.745%,0.1% 7.104%,0.045% 7.471%,0.011% 7.845%,0% 8.225%,0% 40.15%,0% 67.125%,0% 99.05%,0% 99.05%,0.009% 99.204%,0.037% 99.35%,0.08% 99.487%,0.138% 99.611%,0.21% 99.722%,0.293% 99.817%,0.387% 99.894%,0.49% 99.952%,0.601% 99.988%,0.717% 100%,66.604% 100%,69.057% 94.375%,69.057% 94.375%,69.308% 93.863%,69.596% 93.394%,69.916% 92.971%,70.267% 92.596%,70.644% 92.272%,71.044% 92.001%,71.464% 91.786%,71.901% 91.629%,72.351% 91.533%,72.811% 91.5%,83.189% 91.5%,83.189% 91.5%,83.649% 91.533%,84.099% 91.629%,84.536% 91.786%,84.956% 92.001%,85.356% 92.272%,85.733% 92.596%,86.084% 92.971%,86.404% 93.394%,86.692% 93.863%,86.943% 94.375%,89.396% 100%,93.774% 100%,93.774% 100%,94.061% 99.985%,94.345% 99.941%,94.624% 99.868%,94.897% 99.766%,95.163% 99.638%,95.42% 99.482%,95.668% 99.299%,95.904% 99.091%,96.129% 98.858%,96.34% 98.6%,98.943% 95.15%,98.943% 95.15%,99.138% 94.871%,99.314% 94.573%,99.471% 94.26%,99.609% 93.932%,99.726% 93.591%,99.824% 93.238%,99.9% 92.877%,99.955% 92.507%,99.989% 92.131%,100% 91.75%,100% 59.85%,100% 32.875%,100% 0.95%);
}

.shadow{
  filter: drop-shadow(0px 0px 7px rgb(0, 0, 0, 0.3)) !important;

}




.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper-pagination-bullet {
  background-color: #ccc; /* Color base de los bullets */
  width: 12px; /* Ancho de los bullets */
  height: 12px; /* Altura de los bullets */
  opacity: 1; /* Opacidad para que sean siempre visibles */
  margin: 0 4px; /* Espacio entre bullets */
  border-radius: 50%; /* Forma redonda */
}

.swiper-pagination-bullet-active {
  background-color: #d40511; /* Color del bullet activo */
  transform: scale(1.2); /* Tamaño del bullet activo */
}


.swiperPaginationOverride :global(.swiper-pagination-bullet) {
  background-color: #eee;
  width: 14px;
  height: 14px;
  opacity: 1;
  margin: 0 4px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  clip-path: polygon( 41.071% 2.358%,41.071% 2.358%,42.767% 1.578%,44.523% 0.972%,46.324% 0.539%,48.154% 0.28%,50% 0.193%,51.846% 0.28%,53.676% 0.539%,55.477% 0.972%,57.233% 1.578%,58.929% 2.358%,90.848% 19.146%,90.848% 19.146%,92.443% 20.086%,93.903% 21.163%,95.218% 22.366%,96.383% 23.682%,97.388% 25.097%,98.228% 26.598%,98.894% 28.173%,99.38% 29.809%,99.676% 31.493%,99.777% 33.211%,99.777% 66.748%,99.777% 66.748%,99.676% 68.476%,99.38% 70.166%,98.894% 71.804%,98.228% 73.379%,97.388% 74.878%,96.383% 76.289%,95.218% 77.601%,93.903% 78.8%,92.443% 79.875%,90.848% 80.813%,58.929% 97.642%,58.929% 97.642%,57.233% 98.422%,55.477% 99.028%,53.676% 99.461%,51.846% 99.72%,50% 99.807%,48.154% 99.72%,46.324% 99.461%,44.523% 99.028%,42.767% 98.422%,41.071% 97.642%,9.152% 80.854%,9.152% 80.854%,7.557% 79.914%,6.098% 78.837%,4.782% 77.634%,3.618% 76.318%,2.612% 74.903%,1.772% 73.402%,1.106% 71.827%,0.62% 70.191%,0.324% 68.507%,0.223% 66.789%,0.223% 33.211%,0.223% 33.211%,0.324% 31.483%,0.62% 29.793%,1.106% 28.155%,1.772% 26.58%,2.612% 25.081%,3.618% 23.67%,4.782% 22.359%,6.098% 21.159%,7.557% 20.085%,9.152% 19.146%,41.071% 2.358% );
}

.swiperPaginationOverride :global(.swiper-pagination-bullet-active) {
  background-color: #C63AF8;
  transform: scale(1.2);
  clip-path: polygon( 41.071% 2.358%,41.071% 2.358%,42.767% 1.578%,44.523% 0.972%,46.324% 0.539%,48.154% 0.28%,50% 0.193%,51.846% 0.28%,53.676% 0.539%,55.477% 0.972%,57.233% 1.578%,58.929% 2.358%,90.848% 19.146%,90.848% 19.146%,92.443% 20.086%,93.903% 21.163%,95.218% 22.366%,96.383% 23.682%,97.388% 25.097%,98.228% 26.598%,98.894% 28.173%,99.38% 29.809%,99.676% 31.493%,99.777% 33.211%,99.777% 66.748%,99.777% 66.748%,99.676% 68.476%,99.38% 70.166%,98.894% 71.804%,98.228% 73.379%,97.388% 74.878%,96.383% 76.289%,95.218% 77.601%,93.903% 78.8%,92.443% 79.875%,90.848% 80.813%,58.929% 97.642%,58.929% 97.642%,57.233% 98.422%,55.477% 99.028%,53.676% 99.461%,51.846% 99.72%,50% 99.807%,48.154% 99.72%,46.324% 99.461%,44.523% 99.028%,42.767% 98.422%,41.071% 97.642%,9.152% 80.854%,9.152% 80.854%,7.557% 79.914%,6.098% 78.837%,4.782% 77.634%,3.618% 76.318%,2.612% 74.903%,1.772% 73.402%,1.106% 71.827%,0.62% 70.191%,0.324% 68.507%,0.223% 66.789%,0.223% 33.211%,0.223% 33.211%,0.324% 31.483%,0.62% 29.793%,1.106% 28.155%,1.772% 26.58%,2.612% 25.081%,3.618% 23.67%,4.782% 22.359%,6.098% 21.159%,7.557% 20.085%,9.152% 19.146%,41.071% 2.358% );

}


