
.bgFilters {
    background-color: #000;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alink{
    color: #fff;
 
}
@media (max-width: 900px) {



}