.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;

}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 15%;
    margin: 0 4px;
    padding: 0;
    position: relative;
    flex-shrink: 0;
    color: black;
    cursor: pointer;
    flex: 0 0 auto; /* Prevents flex items from shrinking or growing */
    clip-path: polygon( 41.071% 2.358%,41.071% 2.358%,42.767% 1.578%,44.523% 0.972%,46.324% 0.539%,48.154% 0.28%,50% 0.193%,51.846% 0.28%,53.676% 0.539%,55.477% 0.972%,57.233% 1.578%,58.929% 2.358%,90.848% 19.146%,90.848% 19.146%,92.443% 20.086%,93.903% 21.163%,95.218% 22.366%,96.383% 23.682%,97.388% 25.097%,98.228% 26.598%,98.894% 28.173%,99.38% 29.809%,99.676% 31.493%,99.777% 33.211%,99.777% 66.748%,99.777% 66.748%,99.676% 68.476%,99.38% 70.166%,98.894% 71.804%,98.228% 73.379%,97.388% 74.878%,96.383% 76.289%,95.218% 77.601%,93.903% 78.8%,92.443% 79.875%,90.848% 80.813%,58.929% 97.642%,58.929% 97.642%,57.233% 98.422%,55.477% 99.028%,53.676% 99.461%,51.846% 99.72%,50% 99.807%,48.154% 99.72%,46.324% 99.461%,44.523% 99.028%,42.767% 98.422%,41.071% 97.642%,9.152% 80.854%,9.152% 80.854%,7.557% 79.914%,6.098% 78.837%,4.782% 77.634%,3.618% 76.318%,2.612% 74.903%,1.772% 73.402%,1.106% 71.827%,0.62% 70.191%,0.324% 68.507%,0.223% 66.789%,0.223% 33.211%,0.223% 33.211%,0.324% 31.483%,0.62% 29.793%,1.106% 28.155%,1.772% 26.58%,2.612% 25.081%,3.618% 23.67%,4.782% 22.359%,6.098% 21.159%,7.557% 20.085%,9.152% 19.146%,41.071% 2.358% );

  

  }


  .posElem{
    transform: translate(-800px); 

  }