.bgBenefits {
    background-image: url("/images/bgBenefits.svg");
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.path {
    clip-path: polygon(100% 73.923%, 100% 3%, 100% 3%, 99.99% 2.505%, 99.962% 2.038%, 99.918% 1.606%, 99.859% 1.213%, 99.786% 0.865%, 99.702% 0.569%, 99.607% 0.328%, 99.505% 0.15%, 99.396% 0.038%, 99.282% 0%, 6.225% 0%, 6.225% 0%, 5.939% 0.048%, 5.656% 0.191%, 5.378% 0.426%, 5.106% 0.751%, 4.841% 1.163%, 4.584% 1.662%, 4.337% 2.243%, 4.101% 2.905%, 3.876% 3.645%, 3.665% 4.462%, 1.068% 15.308%, 1.068% 15.308%, 0.873% 16.17%, 0.695% 17.091%, 0.537% 18.066%, 0.398% 19.089%, 0.279% 20.154%, 0.18% 21.256%, 0.102% 22.39%, 0.046% 23.549%, 0.012% 24.729%, 0% 25.923%, 0% 98.923%, 0% 98.923%, 0.041% 99.101%, 0.086% 99.263%, 0.134% 99.41%, 0.185% 99.541%, 0.239% 99.654%, 0.296% 99.748%, 0.354% 99.823%, 0.413% 99.878%, 0.473% 99.912%, 0.534% 99.923%, 93.757% 99.923%, 93.757% 99.923%, 94.043% 99.875%, 94.325% 99.732%, 94.603% 99.497%, 94.875% 99.172%, 95.14% 98.76%, 95.397% 98.262%, 95.644% 97.68%, 95.881% 97.018%, 96.105% 96.278%, 96.317% 95.462%, 98.913% 84.615%, 98.913% 84.615%, 99.114% 83.753%, 99.295% 82.831%, 99.457% 81.855%, 99.598% 80.83%, 99.719% 79.76%, 99.819% 78.65%, 99.898% 77.507%, 99.954% 76.335%, 99.988% 75.138%, 100% 73.923%);
}


.titleBenefits {
    font-size: clamp(3.125rem, 3.75vw, 3.75rem);
}

.titleCard {
    font-size: clamp(1.75rem, 1.625vw, 1.625rem);
    color: #490CAB;
    line-height: 1;

}

.ContentCard {
    font-size: clamp(1rem, 1.5vw, 1.5rem);

}

@media (max-width: 900px) {

    .path {
        clip-path: polygon(99.193% 0%, 99.193% 0%, 99.311% 0.019%, 99.422% 0.073%, 99.525% 0.159%, 99.619% 0.274%, 99.702% 0.415%, 99.773% 0.579%, 99.83% 0.761%, 99.873% 0.96%, 99.899% 1.172%, 99.908% 1.393%, 99.908% 87.893%, 99.908% 87.893%, 99.897% 88.447%, 99.863% 88.995%, 99.807% 89.534%, 99.729% 90.062%, 99.631% 90.576%, 99.512% 91.074%, 99.373% 91.553%, 99.215% 92.012%, 99.039% 92.447%, 98.844% 92.857%, 96.257% 97.893%, 96.257% 97.893%, 96.046% 98.272%, 95.823% 98.616%, 95.587% 98.923%, 95.341% 99.193%, 95.085% 99.424%, 94.821% 99.616%, 94.55% 99.767%, 94.273% 99.876%, 93.991% 99.942%, 93.706% 99.964%, 0.807% 99.964%, 0.807% 99.964%, 0.689% 99.946%, 0.578% 99.891%, 0.475% 99.805%, 0.381% 99.69%, 0.298% 99.549%, 0.227% 99.386%, 0.17% 99.203%, 0.127% 99.004%, 0.101% 98.793%, 0.092% 98.571%, 0.092% 12.107%, 0.092% 12.107%, 0.103% 11.553%, 0.137% 11.005%, 0.193% 10.466%, 0.271% 9.938%, 0.369% 9.424%, 0.488% 8.926%, 0.627% 8.447%, 0.785% 7.988%, 0.961% 7.553%, 1.156% 7.143%, 3.743% 2.071%, 3.743% 2.071%, 3.954% 1.692%, 4.177% 1.349%, 4.413% 1.041%, 4.659% 0.771%, 4.915% 0.54%, 5.179% 0.349%, 5.45% 0.198%, 5.727% 0.089%, 6.009% 0.022%, 6.294% 0%, 99.193% 0%);
    }

}